body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

textarea {
  background-color: red;
  border: none;
  resize: none;
  color: #000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
  background-color: #d3d3d3;
  position: relative;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.time-line {
  color: #000;
  position: absolute;
  width: 100%;
  margin: 0;
  border-top: dashed 2px purple;
  z-index: 2;
  text-align: center;
}

.current-time-pill {
  padding: 0 4px;
  background-color: purple;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
