:root {
  --neutral-000: #fafbfb;
  --neutral-100: #f8f8f9;
  --neutral-200: #f0f1f2;
  --neutral-300: #cdd3d6;
  --neutral-400: #b9bec1;
  --neutral-500: #a4a9ab;
  --neutral-600: #9a9ea1;
  --neutral-700: #7b7f80;
  --neutral-800: #5c5f60;
  --neutral-900: #484a4b;

  --primary-100: #e0eff5;
  --primary-500: #2e94b9;
  --primary-900: #1c596f;

  --secondary-100: #ede0f4;
  --secondary-500: #872eb8;
  --secondary-900: #511c6e;

  --success-100: #e0f5e9;
  --success-500: #2eb96e;
  --success-900: #1c6f42;

  --warning-100: #fdf4ea;
  --warning-500: #f0b775;
  --warning-900: #906e46;

  --danger-100: #ffe6e6;
  --danger-500: #fd5959;
  --danger-900: #983535;

  /* Stylistic opacities.  Uses '26' at the end of the hex to set opacity to 15% */
  --opacity-neutral: #484a4b26;
  --opacity-primary: #2e94b926;
  --opacity-secondary: #872eb826;
  --opacity-success: #2eb96e26;
  --opacity-warning: #f0b77526;
  --opacity-danger: #fd595926;

  /* Stylings */
  --overlay-shadow: 0px 4px 24px rgba(24, 30, 36, 0.16);
  --card-shadow: 0px 4px 4px rgba(8, 8, 8, 0.16);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

textarea {
  background-color: var(--opacity-success);
  border: none;
  resize: none;
  color: var(--success-900);
  border-left: 1px solid var(--neutral-000);
  padding: 10px;
  font-weight: 600;
}

textarea:focus {
  outline: none;
  box-shadow: inset var(--card-shadow);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
  background-color: var(--neutral-200);
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.hour {
  background-color: var(--neutral-000);
  color: var(--neutral-900);
  border-top: 1px dashed var(--neutral-900);
}

.past {
  background-color: var(--opacity-neutral);
  color: var(--neutral-900);
}

.future {
  background-color: var(--opacity-primary);
  color: var(--primary-500);
}

.saveBtn {
  border-left: 1px solid var(--neutral-000);
  border-radius: 0;
  background-color: var(--primary-500);
  color: var(--neutral-000);
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-900);
  color: var(--neutral-000);
}

.delete-btn {
  border: none;
  border-left: 1px solid var(--neutral-000);
  background-color: var(--opacity-danger);
  color: var(--danger-500);
}

.delete-btn:hover {
  background-color: var(--danger-500);
  color: var(--neutral-000);
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}

.time-line {
  color: #000;
  position: absolute;
  width: 100%;
  margin: 0;
  border-top: dashed 2px purple;
  z-index: 3;
  text-align: center;
}

.current-time-pill {
  padding: 0 4px;
  background-color: purple;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}
